@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: blue;
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff2;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.landingSectionTitle::before {
  content: "";
  position: absolute;
  left: 105%;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100vw;
  background-color: #fcfcfc;
}

@media (max-width: 768px) {
  .landingSectionTitle::before {
    left: 50%;
    right: auto;
    top: -20px;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 300px;
    background-color: #fcfcfc;
  }
}
